Exercise 1

In [ ]:
## Clustering algorithm

Exercise 2

In [ ]:
## I could use both supervised learning and unsupervised leanring for spam detection, but I think supervised learning would be better. 
## My goal is to know if a user is a spammer or not, this is a binary classification test.

Exercise 3

In [ ]:
## A test set is a subset of the training set and is used to give an evaluation of a final model.

Exercise 4

In [ ]:
## (b) and (d)

Exercise 5

In [1]:
import boto3
import pandas as pd; pd.set_option('display.max_columns', 100)
import numpy as np

## Defining the s3 bucket
s3 = boto3.resource('s3')
bucket_name = 'mckayla-data-445-bucket'
bucket = s3.Bucket(bucket_name)

## Defining the file to read from s3 bucket
file_key = 'Real_Estate.csv'

bucket_object = bucket.Object(file_key)
file_object = bucket_object.get()
file_content_stream = file_object.get('Body')

##Reading the csv file
house_price = pd.read_csv(file_content_stream)
house_price.head()

,No,transaction_date,house_age,distance_to_the_nearest_MRT_station,number_of_convenience_stores,latitude,longitude,house_price_of_unit_area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [2]:
## Dropping No and transaction_date
house_price = house_price.drop(columns = ['No','transaction_date'],axis = 1)
house_price.head()

,house_age,distance_to_the_nearest_MRT_station,number_of_convenience_stores,latitude,longitude,house_price_of_unit_area
0,32.0,84.87882,10,24.98298,121.54024,37.9
1,19.5,306.59470,9,24.98034,121.53951,42.2
2,13.3,561.98450,5,24.98746,121.54391,47.3
3,13.3,561.98450,5,24.98746,121.54391,54.8
4,5.0,390.56840,5,24.97937,121.54245,43.1

In [4]:
from sklearn.model_selection import train_test_split

##Model 1

##Defining the input and target
X1 = house_price[['house_age', 'distance_to_the_nearest_MRT_station', 'number_of_convenience_stores', 'latitude', 'longitude']]
Y1 = house_price['house_price_of_unit_area']

##Splitting the data
X1_train, X1_test, Y1_train, Y1_test = train_test_split(X1, Y1, test_size = 0.2)

In [5]:
from sklearn.linear_model import LinearRegression

## Building the linear model
lm_md1 = LinearRegression().fit(X1_train,Y1_train)

In [6]:
## Predicting on test
lm_pred1 = lm_md1.predict(X1_test)
lm_pred1

array([45.23802495, 47.59098368, 31.96519592, 47.95353913, 45.30048179,
       47.59098368, 43.32267396, 41.08973482, 48.40142791, 45.34351004,
       54.09443997, 40.53518953, 45.57770744, 48.13954274, 25.32034939,
       47.35745422, 39.5750342 , 36.07750129, 44.551111  , 31.79889551,
       42.05930405, 45.72717294, 30.92762205, 35.75465859, 28.08945911,
       14.62129028, 40.62472712, 42.47229144, 38.81610069, 40.63494155,
       50.94901705, 42.65047667, 11.15197601, 35.71671138, 49.82206875,
       39.04935715, 38.10138998, 42.83043914, 38.17416498,  7.07606939,
       45.08471691, 44.68902788, 40.20484469, 45.29506457, 46.62949307,
       38.04773979, 48.81325527, 39.0689345 , 27.85718675, 39.798183  ,
       41.82114883, 29.26749582,  7.12589122, 22.60511826, 41.16798929,
       47.30763239, 34.20442071, 30.95253297, 41.1713349 , 48.41107911,
       45.47454744, 44.21967198, 46.27998652, 33.24616839, 34.51307275,
       34.10756056, 41.70590453, 32.77874114, 44.08752536, 45.34999285,
       49.09123944, 34.20596056, 40.3447729 , 51.74907367, 46.15361805,
       49.72358788, 26.83163458, 30.52021463, 11.6752957 , 51.72416275,
       40.95492251, 42.94826757, 42.48236282])

In [7]:
## Computing the MSE
mse1 = np.mean((Y1_test - lm_pred1)**2)
print('The MSE of Model 1 is ', mse1)

The MSE of Model 1 is  42.72598617539815

In [8]:
##Model 2

##Defining the input and target
X2 = house_price[['house_age', 'number_of_convenience_stores', 'latitude', 'longitude']]
Y2 = house_price['house_price_of_unit_area']

##Splitting the data
X2_train, X2_test, Y2_train, Y2_test = train_test_split(X2, Y2, test_size = 0.2)

In [9]:
## Building the linear model
lm_md2 = LinearRegression().fit(X2_train,Y2_train)

## Predicting on test
lm_pred2 = lm_md2.predict(X2_test)
lm_pred2

array([29.13493035, 31.72552373, 37.94998568, 52.4383493 , 34.38174759,
       35.06972764, 34.47075974, 33.29585018, 42.06729471, 33.63264773,
       42.18030933, 29.82148117, 44.71391839, 30.78410715, 45.70795857,
       45.95058827, 45.64874557, 52.46242876, 31.63124105, 29.81484887,
       35.7985106 , 49.96397491, 46.44840516, 34.82378671, 35.262248  ,
       39.20472387, 36.50347072, 27.06587724, 32.94561373, 41.30866766,
       38.03227376, 39.74662137, 31.00830173, 30.07191748, 45.48018937,
       46.56150456, 38.55268473, 45.76515238, 15.03047613, 39.6585006 ,
       30.47653974, 36.42079965, 43.91254081, 31.0062878 , 35.31628378,
       39.53072528, 31.70347942, 16.65527729, 35.56437188, 45.55728404,
       48.56268095, 44.58637625, 48.44755927, 28.46274394, 42.98118438,
       37.28062178, 48.30606674, 49.72382669, 33.27177072, 17.44138421,
       39.78431576, 42.23871801, 46.06814727, 33.37015317, 31.4342525 ,
       43.6641705 , 32.38975371, 48.04330447, 49.96397491, 17.46546367,
       17.06049252, 34.32314657, 41.31838805, 36.8873357 , 42.14240018,
       20.69064462, 43.02690704, 32.5254706 , 30.00798499, 44.50939735,
       49.31698953, 52.2697931 , 36.9199744 ])

In [10]:
## Computing the MSE
mse2 = np.mean((Y2_test - lm_pred2)**2)
print('The MSE of Model 2 is ', mse2)

The MSE of Model 2 is  137.93345805481013

In [ ]:
## Based on the models MSE, Model 2 would be the model to use with the higher MSE.

In [15]:
## Running the models 100 times
X1 = 'X1_test'
Y1 = 'Y1_test'

lm_md1_results = list1()

for i in range(1, 100):
    X1_train

X2 = 'X2_test'
Y2 = 'Y2_test'

lm_md2_results = list2()

for i in range(1,100):
    X2_train

NameError: name 'list1' is not defined

In [14]:
import matplotlib.pyplot as plt

index = np.linspace(0,99, stop=1)
plt.plot(index, lm_md1_results)

TypeError: _linspace_dispatcher() got multiple values for argument 'stop'